/*** LAMBDA LOGO FILL COLOR ***/
.navbar-brand {
  svg.d-block path.st1 {
    fill: @lambda-logo-col;
  }
}

/*** SIDEBAR STYLE ***/
.docs-sidebar {
  background-color: @sidebar-col;

  .dashboards-link a#dashboards-link {
    color: @link-col;
    text-decoration: none;

    &:hover {
      color: @link-hover-col;
    }
  }
}

/*** TK TOP NAV STYLE ***/
.sticky-nav {
  background-color: @sticky-nav-col;

  .section-nav>.toc-entry.toc-h2 {
    a {
      color: @nav-link-col;
      opacity: 1;

      &:hover {
        color: @nav-link-hover-col;
      }
    }
  }
}

/*** MAIN CONTAINER JUMBOTRON STYLE ***/
.jumbotron {
  background-color: @jumbotron-col;
}

/*** MAIN CONTAINER STYLE ***/
.content-container {
  background-color: @main-col;
  color: @font-col;

  a {
    color: @link-col-alt;
    text-decoration: none;

    &:hover {
      color: @link-hover-col-alt;
    }
  }

  /*** TRAINING KIT HOME LINKS STYLE ***/
  /*** TK HOME TILE STYLE ***/
  .course-links a {
    color: @tile-text-col;
    background-color: @tile-col;
  }

  .course-links a:hover {
    color: @tile-text-col;
    background-color: @tile-hover-col;
  }
  
  /*** TK HOME FORM LINK STYLE ***/
  .form-links {
    a {
      color: @link-col;

      &:hover {
        color: @link-hover-col;
      }
    }
  }

  /*** PRO TIP STYLING ***/
  .alert.alert-warning {
    color: @font-col;
    background-color: #645423;
    border-color: #5b3d1e;

    /*** SOURCE STYLE ***/
    .blockquote-footer {
      color: @font-col;
    }
  }

  /*** CODE HIGHLIGHT STYLING ***/
  .highlight {
    //Color for code background
    background-color: @jumbotron-col;

    //Color for text not in spans (used in the HTML format)
    pre code {
      color: @font-col;
    }

    /*
    From what I've gathered, these are probably generated.
    Basically each word or grouping has a class that gives it a specific color. The only way
    to override is to find the specific class (inspect) and change it here.
    */

    //Seems to affect flex properties
    span.n {
      color: @font-col;
    }

    //Seems to be curly brackets and semicolons
    span.p {
      color: yellow;
    }

    //Seems to affect CSS highlighting secondary keywords in a property / value pair 
    span.nb {
      color: dodgerblue;
    }

    //Seems to affect CSS highlighting tertiary keywords in a property / value pair 
    span.no {
      color: lightgreen;
    }

    //Seems to affect HTML tags mainly.
    span.nt {
      color: #0f97fd;
    }

    //equals sign
    span.o {
      color: yellow;
    }

    //var/const/let
    span.kd {
      color: rgb(14, 212, 219);
    }

    //if/this/return/new
    span.k {
      color: rgb(228, 0, 0)
    }

    //true/false
    span.kc {
      color: rgb(228, 0, 0);
    }

    //string
    span.s1 {
      color: orange;
    }
  }

  //Goals containers
  .mark.mb-3.p-2 {
    background-color: @jumbotron-col;
  }

  /*** DASHBOARDS LINK FOR MOBILE ***/
  .dashboards-link-mobile a#dashboards-link-mobile {
    color: @link-col;
    text-decoration: none;

    &:hover {
      color: @link-hover-col;
    }
  }
}