.navbar-brand {
  svg.d-block path.st1 {
    fill: @lambda-logo-col;
  }
}

.docs-sidebar {
  background-color: @sidebar-col;

  .dashboards-link a#dashboards-link {
    color: @link-col;
    text-decoration: none;

    &:hover {
      color: darken(@link-col, 20%);
    }
  }
}

.content-container {
  background-color: @main-col;
  color: @font-col;

  .course-links a {
    background-color: @tile-col;
  }

  .course-links a:hover {
    background-color: darken(@tile-col, 10%);
  }

  .form-links {
    a {
      color: @link-col;

      &:hover {
        color: darken(@link-col, 20%);
      }
    }
  }

  /*** DASHBOARDS LINK FOR MOBILE ***/
  .dashboards-link-mobile a#dashboards-link-mobile {
    color: @link-col;
    text-decoration: none;

    &:hover {
      color: darken(@link-col, 20%);
    }
  }
}